@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');


*{ list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    cursor: default;
    

}

#wrap{position:relative;
    
    
   
   
}
/* ------------------header부분 ----------------*/
header {
   position: relative;
   text-align: center;
   top: 0px;
   left: 0px;
   position: fixed;
   width: 100%;
   height: 80px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   border-left: none;
   border-right: none;
   border: 1px solid #DBDBDB;
   opacity: 1;
   z-index: 90;

}

.header-con-wrap {
   display: inline-block;
   position: relative;
   max-width: 1440px;
   width: 100%;
}

.ci-logo {
   width: fit-content;
   /* position: absolute; */
   padding: 25px 0 0 120px;
   
}

.ci-logo img {
   width: 133px;
   height: 30px;
   cursor: pointer;
   /* filter:invert(100%) sepia(100%) saturate(2%) hue-rotate(190deg) brightness(102%) contrast(101%); */
}

.header-con-wrap nav {
   margin-top: -35px;
   padding-right: 160px;
   float: right;
   width: fit-content;
   margin-right: 0;
}

.nav-text {
   display: flex;
   justify-content: space-between;
   width: 400px;
}

.nav-text a {
   display: block;
   text-decoration: none;
}

.nav-text li {
   display: block;
   letter-spacing: 0px;
   color: #000000;
   opacity: 1;
   font-size: 20px;
   font-weight: bold;
   width: 74px;
   height: 29px;
   
   text-transform: uppercase;
}

 .nav-text a:first-child li{
   cursor: pointer;
}  /*<- 사업소개, 정보마당, 마지막 서브 페이지에선 주석 지워야 함*/
/*.nav-text a:nth-child(2) li{
   cursor: pointer;
} <- 회사소개, 정보마당, 마지막 서브 페이지에선 주석 지워야 함*/
.nav-text a:last-child li{
   cursor: pointer;
} /*<- 회사소개, 사업소개, 정보마당 페이지에선 주석 지워야 함*/


.nav-text li:hover {
   color: #184B9F;
}

.nav-text a:first-of-type li:after, 
/*<- 두번째, 세번째, 네번째 서브 해당되는 사람이면 살려야함*/
/*.nav-text a:nth-of-type(2) li:after,
<- 첫번째, 세번째, 마지막 서브해당되는 사람이면 살려야 함*/
.nav-text a:last-of-type li:after {
   /*<- 첫번째, 두번째 해당되는 서브만 살림*/
   display: block;
   margin-top: 3px;
   content: '';
   height: 6px;
   background: #184B9F;
   border-radius: 3px;
   transform: scaleX(0);
   transition: transform 250ms ease-in-out;
   transform-origin: 0% 50%;
}

.nav-text a:first-of-type li:hover:after,
/*위와 같은 규칙*/
/*.nav-text a:nth-of-type(2) li:hover:after,*/
.nav-text a:last-of-type li:hover:after {
   transform: scaleX(1);
}


.nav-text .underline {
   margin-top: 3px;
   width: 74px;
   height: 6px;
   background: #184B9F;
   border-radius: 3px;
}

.under-1{
    visibility: hidden;  
}
/*.nav-text .under-2 {
   display: none;}
   /*<-두번째 서브 페이지는 주석처리 하고, 나머지 1이랑3은 살림*/


.nav-text .under-3 {
   display: none;
   /*<-세번째,네번째(마지막) 서브 페이지는 주석처리 함 위의
   under-1,2는 살려야 함*/
}



.nav-text a:nth-of-type(2) li{
     color: #184B9F;}
/*<- 첫번째 세번째 네번째 서브 담당자는 주석처리해야함*/

/*.nav-text a:last-of-type li{
    /* color: #184B9F;} */
/*<-첫번째, 두번째 서브 담당자는 주석처리 해야함*/


.hamburger-menu {
   position: absolute;
   top: 25px;
   right: 0;
   width: 32px;
   height: 32px;
   cursor: pointer;
   background: transparent url('../img/nav/hamburger_menu_black.svg') 0% 0% no-repeat padding-box;
   opacity: 1;
}

.hide-nave {
   /* top: 24px;
   left: 0px; */
   width: 100%;
   height: 263px;
   display: none;
}

.hide-nav-texts {
   position: absolute;
   top: 79px;
   right: 0;
   width: 100%;
   height: 207px;
   background: #184B9F 0% 0% no-repeat padding-box;
   border: 1px solid #707070;
   border-top: none;
   opacity: 0.9;
   color: #FFFFFF;
}

.hide-nav-texts a {
   text-decoration: none;
   color: #FFFFFF;
}

.hide-nav-con-wrap {
   position: relative;
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
}

.small-size-nav-wrap {
   position: absolute;
   width: 400px;
   top: 12px;
   right: 160px;
   margin-bottom: 16px;
   display: none;
}

.slide-nav-text a:last-of-type li {
   padding-right: 18px;
}

.slide-nav-text a:nth-of-type(2) li {
   padding-left: 18px;
}

.slide-nav-text {
   display: flex;
   justify-content: space-between;
}

.hide-nav-flex-wrap {
   position: absolute;
   display: flex;
   justify-content: space-between;
   width: 400px;
   top: 12px;
   right: 160px;

}

.hide-nav-texts a li {
   text-align: left;
   padding-bottom: 5px;
   letter-spacing: 0px;
   opacity: 1;
   cursor: pointer;
}

.hide-nav-texts {
   display: none;
}

/* 반응형 - 해상도 (941px~1024이하일때) */

@media screen and (min-width:769px) and (max-width:1280px) {
   /* nav 부분 */
   .header-con-wrap{
      max-width: 1280px;
   }

   .hamburger-menu{
      right: 20px;
   }
  
}

/* 반응형 - 해상도 940px 이하 */
@media (max-width:940px) {
    /* nav  */
    .header-con-wrap {
      max-width: 1280px;
   }
   .header-con-wrap nav{
      display: none;
   }

   .hamburger-menu{
      right: 20px;
   }

   .small-size-nav-wrap{
      position: relative;
      width: 100%;
      height: 30px;
      right: 0;
      display: block;
      border-bottom: #F8F8F8 1px solid;
   }

   .slide-nav-text{
      position: absolute;
      width: 400px;
      right: 160px;
   }   
   .hide-nav-flex-wrap{
      top: 46px;
   }


}

/* 해상도 767이하 */
@media (max-width:768px) {
   /* ci logo 부분 */
   .ci-logo{
      padding-left: 10%;
   }
   /* nav 부분 */
   .slide-nav-text,
   .hide-nav-flex-wrap{
      right: 0;
      margin: 0 10%;
   }

   .hide-nav-texts{
      height: 220px;
   }

   .hamburger-menu{
      right: 20px;
   }
}

 /**사업현황**/

#state{ 
    /* Layout Properties */
    top: 80px;
    left: 0px;
    width: 100%;
    height: 300px;
    max-width: 1920px;
    margin: 0 auto;
    
    /* UI Properties */
    
    background-image: url(../img/square64.png) ;
    background-position:center;
    position: relative;
}
.state-text{
    /* Layout Properties */


padding-top:120px;
margin:0 auto;
width: 148px;
height: 58px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 40px/58px var(--unnamed-font-family-noto-sans-kr);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal bold 40px/58px Noto Sans KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}




/**에코스 어플 소개 **/

#ecoce-wrap{margin-top:100px;
   width:auto;
   height:auto;
   overflow:hidden;
}

#ecoce-wrap .container{
   max-width: 1440px;
   margin:100px auto 0;
   padding:0 ;

}

@media screen and (max-width:1280px){
   #ecoce .container{max-width:1000px;

   }
}

#ecoce-wrap .container .title_text{
   font-weight: 700;
   font-size:40px;
   line-height:8px;
   color:#1E1E1E;
}

#ecoce-wrap .container .sub_title_text{
   margin-bottom:54px;
   font-weight:500;
   font-size:18px;
   line-height:26px;
   color:#c8c8c8;

}

@media screen and (max-width:1280px){
   #ecoce .container .title_text, #ecoce .container .sub_title_text{
text-align: center;
} 

}
.ecoce_content_wrap{
   display:flex;
   justify-content: space-between;
}

@media screen and (max-width:1280px){
   .ecoce_content_wrap{
       display:flex;
       flex-direction: column;
       align-items: center;
       
   }
}


.ecoce_content_left{
            max-width:100%;
            width:679px;
            background-image: url("../img/Ecoce(1).png");
            background-size:100%;
            background-repeat: no-repeat;
        }


.image_ecoce_app{
   max-width:100%;
   margin-top:8%;
   margin-left:35%;
}

@media screen and (max-width: 768px){
   .image_ecoce_app{
       width:62%;}
}

.ecoce_content_right{
   display:flex;
   flex-direction: column;
   align-items: flex-end;
}

@media screen and (max-width:1280px){
   .ecoce_content_right{
      padding-top: 100px;
display:flex;
flex-direction: column;
align-items:center;
   }
}

.ecoce_text_explain{
   font-weight:700;
   font-size:30px;
   text-align: right;
   line-height:44px;
}

@media screen and (max-width:1280px){
   .ecoce_text_explain{text-align: center;

   }
}



.ecoce_logo_image{
   margin-top:120px;
   height:125px;
   width:452px;
   

}

@media screen and (max-width: 768px){
.ecoce_logo_image{
margin-top: 20%;
max-width: 100%;}}

.eco_clean_earth{
   font-weight: 700;
   font-size:22px;
   text-align: right;
   line-height:32px;
   margin-top: 32px;
   margin-bottom:146px;
}

@media screen and (max-width: 768px){
.eco_clean_earth {
margin-bottom: 20%;
}}


.button_wrap{
   display:flex;
   justify-content: flex-end;
   width:fit-content;
   margin-bottom:131px;
}

.button_wrap a{
   width:160px;
   height:57px;
   margin-left:30px;
   text-decoration: none;
}

.button{display:flex;
   justify-content: space-between;
   align-items:center;
   padding:0 20px;
   height:57px;
   border-radius: 69px;
   background-color: black;
   color:white;
   line-height:22px;
   font-size:14px;
   font-weight:500;


}

.button img{
   width: 31px;
   height: 35px;
}


/* 모아두 어플 소개 */


#moado{
   width:auto;
   height:auto;
   max-width:1920px;
   margin:0 auto;
   overflow:auto;
   background: linear-gradient(45deg, #339BE133, transparent 15%), linear-gradient(340deg, #E4CDE8, transparent 45%);
}

#moado .container{position:relative;
   max-width:1440px;
   margin: 0 auto;
   margin-top: 100px;
   }

   @media screen and (max-width:1280px){
       #moado .container{
           max-width:1000px;
       }

}
   


.title_text{font-weight:700;
   font-size: 40px;
   line-height:18px;
   color:#1E1E1E;

}
.sub_title_text{font: weight 500;
   font-size: 18px;
   line-height: 26px;
   color:#c8c8c8;
   margin-top:20px;
   margin-bottom: 54px;

}

@media screen and (max-width:1280px){
   .title_text, .sub_title_text{
      text-align: center;
   } 

}

.moado_content_wrap{
   position:relative;
   display: flex;
   justify-content: space-between;
}

@media screen and (max-width:1280px) {
   .moado_content_wrap{
       display:flex;
       flex-direction:column;
       align-items: center;
   }
   
}

.image_moado_app{
   max-width: 100%;
   margin-bottom: 15%;
}

.image_use_moado{
   position:absolute;
   left:56%;
   bottom:0;
   max-width:680px;
   transform:translate(-50%,0);
}

@media screen and (max-width:1280px) {
   .image_use_moado{
       display: none;
   }
}
.moado_content_right{
   display:flex;
   flex-direction: column;
   align-items:flex-end;
}

@media screen and (max-width:1280px){
   .moado_content_right{
      display:flex;
      flex-direction: column;
      align-items:center;
   }
}

.text_explain{
   font-weight: 700;
   font-size:30px;
   text-align: right;
   line-height:44px;
}

.logo_moado{
   max-width:100%;
   margin-top:150px;
}

.button-moado{
   margin-top: 100px;
   margin-bottom: 218px;
   display:flex;
   align-items: center;
   height:57px;
   padding: 0 20px;
   background-color: black;
   border-radius: 69px;
   color:white;
   line-height:22px;
   font-size:14px;
   font-weight:500;
}

a{
   text-decoration: none;
}




/*ETC 소개*/


#ETC{ margin-bottom:100px;
      width:auto;
      height:auto;
      overflow:hidden;
   }


.ETC2{
    max-width:1441px;
    margin:100px auto 0;
   }

.ETC-text{
    /* Layout Properties */
    top: 480px;
    left: 240px;
    width: 89px;
   height: 84px;
    /* UI Properties */
    opacity: 1;
   margin-bottom:40px;}

    .ETC-head{
        width: 75px;
height: 58px;
    /* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 40px/58px var(--unnamed-font-family-noto-sans-kr);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 40px/58px Noto Sans KR;
letter-spacing: 0px;
color: #1E1E1E;
opacity: 1;}

.ETC-second{
    width: 89px;
height: 26px;
    /* UI Properties */
font: var(--unnamed-font-style-normal) normal medium 18px/26px var(--unnamed-font-family-noto-sans-kr);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal medium 18px/26px Noto Sans KR;
letter-spacing: 0px;
color: #C8C8C8;
opacity: 1;
}

@media screen and (max-width:1280px){
   .ETC-text{margin:auto;
      margin-bottom: 50px;
   }}

.ETC-wrap{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
   
}

.ETC2 img{
    padding:0px;
    margin-bottom:50px;
width: 228px;
height: 350px;
box-shadow: 0px 0px 10px rgba(0,0,0,16%);

}


/* ----------------footer 부분----------------- */

footer{
    position: relative;
    top: 10px; /*<- 임의로 수정하셔도 됩니다.*/
    left: 0;
    width: 100%;
    height: 250px;
    background: #E9E9E9 0% 0% no-repeat padding-box;
 
 }
 
 .footer-con-wrap{
    position: absolute;
    left: 0;
    right: 0;
    max-width: 1440px;
    width: 100%;
    margin: 50px auto;
 }
 
 .footer-ci{
    display: flex;
    justify-content: space-between;
    max-width: 510px;
 }
 
 .footer-ci .footer-copyright{
    padding-top: 21px;
    margin-bottom: 0px;
    color: #9E9E9E;
    font-size: 16px;
    font-weight: 400;
 }
 
 .footer-text-wrap{
    width: 100%;
    display: flex;
    margin-top: 30px;
    color: #9E9E9E;
    font-weight: 300;
    font-size: 16px;
    word-wrap: keep-all;
 }
 
 .footer-left-con p,
 .footer-right-con p{
    margin-bottom: 0;
 }
 
 .footer-left-con{
    height: 76px;
    margin-right: 10%;
 }
 .footer-right-con{
    height: 50px;
    word-wrap: keep-all;
 }
 
 
 /* 반응형 - 해상도 (768px~1024이하일때) */
 
 @media screen and (min-width:683px) and (max-width:1160px) {
   
    /* footer */
    footer{
       top: 3px; /*<-임의로 수정하셔도 됩니다*/
    }
    .footer-con-wrap{
       width: 94%;
    }
 
 }
 
 /* 반응형 - 해상도 940px 이하 */
 @media (max-width:682px)  {
 
    /* footer */
    footer{
       top: 3px;  /*<-임의로 수정하셔도 됩니다*/
       height: 331px;
    }
 
    .footer-con-wrap{
       width: 94%;
    }
 
    .footer-text-wrap{
       flex-direction: column;
    }
 
    .footer-left-con{
       margin-bottom: 30px;
    }
 }
 
 /* 해상도 767이하 */
 /*@media (max-width:768px) {
    /* ci logo 부분 */
    /*.ci-logo{
       padding-left: 10%;
    }
    /* footer */
    /*.footer-con-wrap{
       width: 94%;
    }*/
 


 
